body {
    margin: 0;
    padding: 0;
    background-color: #484747;
    font-family: 'lato', sans-serif;
}

.logo {
    box-sizing: border-box;
    padding-top: 5px 100px;
    padding-left: 100px;
    float: left
}

.logo img {
    width: 100px;
}

.title {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 65px;
    color: rgb(0, 128, 255);
    float: left;
}

.menu {
    clear: left;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.48);
    position: sticky;
    top: 0;
    border-top: 3px solid #1287fa;
}

.menu ul {
    margin-right: 100px;
    list-style-type: none;
    margin-top: 0;
}

.menu ul li {
    width: 90px;
    float: right;
    text-align: center;
}

.menu ul li a {
    font-size: 18px;
    color: white;
    display: block;
    line-height: 45px;
    text-decoration: none;
}

li:hover {
    background-color: #1287fa;
}

.active {
    background-color: #1287fa;
}

.bgphoto img {
    clear: both;
    /*padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;*/
    max-width: 100%;
}
